<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex14</title>
</head>
<body>
    <div id="app">
        <ul>
          <li v-for=' i in 9 '>
              2 X {{ i }} = {{ 2 * i }}
          </li>
        </ul>
    </div>
    <div id="app2">
        <ul v-for=' i in 9 ' style="display: inline-block;">
           <li v-for=' j in 9 '>
              {{ i }} X {{ j }} = {{ i * j}}
           </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app"
        });

        const app2 = new Vue({
            el:"#app2"
        })
    </script>
</body>
</html>